{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Password</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">

   
</head>
<body>
    <div class="container">
        <h1>Reset Password</h1>
        <form method="POST">
            {% csrf_token %}
            <div class="form-group">
                {{ form.new_password.label }}
                {{ form.new_password }}
                {% for error in form.new_password.errors %}
                    <div class="errorlist">{{ error }}</div>
                {% endfor %}
            </div>
            <div class="form-group">
                {{ form.confirm_password.label }}
                {{ form.confirm_password }}
                {% for error in form.confirm_password.errors %}
                    <div class="errorlist">{{ error }}</div>
                {% endfor %}
            </div>
            <div class="mt-2 text-sm text-gray-600">
                <ul class="list-disc pl-5 space-y-1">
                    <li>At least 8 characters long</li>
                    <li>Must include uppercase and lowercase letters</li>
                    <li>Must include at least one number</li>
                </ul>
            </div>
            <button type="submit" class="btn">Reset Password</button>
        </form>
    </div>
</body>
</html>
